{% extends "base.html" %}

{% block title %}Travel Request{% endblock %}
{% block extrahead %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="snow zhang" >
    <link href="{{ STATIC_URL }}media/css/project.css" rel="stylesheet" type="text/css" />
    <script src="{{ STATIC_URL }}media/js/chosen.js"></script>  
    <script src="{{ STATIC_URL }}media/js/dropdown.js"></script>
    <script src="{{ STATIC_URL }}media/js/scrollspy.js"></script>
    <script src="{{ STATIC_URL }}media/js/modal.js"></script>
    <script src="{{ STATIC_URL }}media/js/tab.js"></script>
    <script src="{{ STATIC_URL }}media/js/tooltip.js"></script>
    <script src="{{ STATIC_URL }}media/js/typeahead.js"></script>
    <script src="{{ STATIC_URL }}media/js/project.js"></script> 
{% endblock %}

{% block content %}
<div class="top-left-padding-panel travel-form">
    <form id="id_travel_request" action="" method="POST">
        {% csrf_token %}
        <div>
            <label>{{ form.requestor_email.label }}<span class='form-required'>*</span></label>
            <span class='form-required'>
                {{ form.requestor_email.errors }}
            </span>
            {{ form.requestor_email }}
        </div>
        <div>
            <label>{{ form.manager_email.label }}<span class='form-required'>*</span></label>
            <span class='form-required'>
                {{ form.manager_email.errors }}
            </span>
            {{ form.manager_email }}
        </div>
        <div>
            <label>{{ form.departure.label }}<span class='form-required'>*</span></label>
            <span class='form-required'>
                {{ form.departure.errors }}
            </span>
            {{ form.departure }}
        </div>
        <div>
            <label>{{ form.destination.label }}<span class='form-required'>*</span></label>
            <span class='form-required'>
                {{ form.destination.errors }}
            </span>
            {{ form.destination }}
        </div>
        <div>
            <label>{{ form.start_date.label }}<span class='form-required'>*</span></label>
            <span class='form-required'>
                {{ form.start_date.errors }}
            </span>
            {{ form.start_date }}
        </div>
        <div>
            <label>{{ form.end_date.label }}<span class='form-required'>*</span></label>
            <span class='form-required'>
                {{ form.end_date.errors }}
            </span>
            {{ form.end_date }}
        </div>
        <div>
            <label>{{ form.working_dates.label }}<span class='form-required'>*</span></label>
            <span class='form-required'>
                {{ form.working_dates.errors }}
            </span>
            {{ form.working_dates }}
        </div>
        <div>
            <label>{{ form.reason.label }}<span class='form-required'>*</span></label>
            <span class='form-required'>
                {{ form.reason.errors }}
            </span>
            {{ form.reason }}
        </div>
        <ul>
            <input id="id_request" type="submit" name="request" value="Request" class="btn-primary"/>
        </ul>
    </form>
</div>
{% endblock %}
