{% extends "base.html" %}

{% block title %}Travel Request{% endblock %}
{% block extrahead %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="snow zhang" >
    <link href="{{ STATIC_URL }}media/css/project.css" rel="stylesheet" type="text/css" />
    <script src="{{ STATIC_URL }}media/js/common.js"></script>
    <script src="{{ STATIC_URL }}media/js/chosen.js"></script>  
    <script src="{{ STATIC_URL }}media/js/dropdown.js"></script>
    <script src="{{ STATIC_URL }}media/js/scrollspy.js"></script>
    <script src="{{ STATIC_URL }}media/js/modal.js"></script>
    <script src="{{ STATIC_URL }}media/js/tab.js"></script>
    <script src="{{ STATIC_URL }}media/js/tooltip.js"></script>
    <script src="{{ STATIC_URL }}media/js/typeahead.js"></script>
    <script src="{{ STATIC_URL }}media/js/project.js"></script> 
{% endblock %}

{% block content %}
{% endblock %}
