.top-left-padding-panel{
	padding: 18px 0 0 18px;
}
.form-required{
	color: red;	
}
.input-dialog{
	display: none; 
	margin: 9px 0;
	background:#eee; 
	border-radius: 4px;
	width: 220px;
	padding: 9px 5px;"			
}
.block-element{
	display: block;
}
.travel-form textarea{
	height: 100px;
}
.add-location{
	margin-bottom: 9px;		
}